# Don't include files with sensitive data
/.zshrc-secrets

/.zsh_sessions


# iJunk
.DS_Store
.MacOSX
.Trash

# Node stuff
/.v8flags.*

# ZSH junk
/.zcompdump*
/.zsh-update

# Virtual envs
/.virtualenvs
/.rvm
/.nvm

# History files
/.*history


/firebase
/configstore
